<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>FoodApp</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pstyles.css">
    <!-- Link to external JavaScript file -->
    <script src="vali.js"></script> 
    
    <style media="screen">
        /* Your CSS styles */
    </style>
</head>
<body>
    <div class="background">
    </div>
    <form id="rf" onsubmit="return validateForm()">
        <h3>Register Here</h3>
        
        <label for="username">Username</label>
        <input type="text" placeholder="Name" id="username">

        <label for="email">Email Id</label>
        <input type="email" placeholder="e-mail" id="email">

        <label for="phno">Phone Number</label>
        <input type="tel" placeholder="phone number" id="phno">
        
        <label for="adr">Address</label>
        <input type="text" placeholder="address" id="adr">
        
        <button type="submit">Sign Up</button>
        <div class="user">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="fb"><a href="login.html">Login</a></div>
        </div>
    </form>
</body>
</html>
